In [35]:
import pandas as pd
pd.set_option("display.max_columns", 500)
import os

In [55]:
# function to format columns into a standard style, coalesce names
def format_column_name(cols):
    months = {"jan":"january", "feb":"february", "mar": "march", \
              "apr": "april", "may": "may", "jun": "june", \
              "jul": "july", "aug": "august", "sep":"september", \
              "oct": "october", "nov": "november", "dec":"december"}
    def replace_month(col):
        for  k,v in months.items():
            col = col.replace(v,k)
        return col
    
    cols = [col.replace("Elec_MMBtuSep", "elec_mmbtu_sep") for col in cols]
    cols = [col.lower() for col in cols]
    cols = [col.replace("\n", " ") for col in cols]
    cols = [col.replace(" ", "_") for col in cols]
    cols = [replace_month(col) for col in cols]
    
    cols = [col.replace("elec_mmbtus", "elec_mmbtu") for col in cols]
    cols = [col.replace("mmbtuper", "mmbtu_per") for col in cols]
    cols = [col.replace("mmbtu", "mmbtu_") for col in cols]
    cols = [col.replace(".1", "_1") for col in cols]
    cols = [col.replace(".2", "_2") for col in cols]
    cols = [col.replace("&", "and") for col in cols]
    cols = [col.replace("plant_state", "state") for col in cols]
    cols = [col.replace("reserved", "reserved_") for col in cols]
    cols = [col.replace("nuclear_unit_i.d.", "nuclear_unit_id") for col in cols]
    cols = [col.replace("elec_fuel_consumption_mmbtu_", "elec_fuel_consumption_mmbtu") for col in cols]
    cols = [col.replace("total_fuel_consumption_mmbtu_", "total_fuel_consumption_mmbtu") for col in cols]
    cols = [col.replace("elec_fuel_consumption_mmbtu_s", "elec_fuel_consumption_mmbtu") for col in cols]
    cols = [col.replace("total_fuel_consumption_mmbtu_s", "total_fuel_consumption_mmbtu") for col in cols]
    cols = [col.replace("elec_fuel_consumption_mmbtus", "elec_fuel_consumption_mmbtu") for col in cols]
    cols = [col.replace("total_fuel_consumption_mmbtus", "total_fuel_consumption_mmbtu") for col in cols]
    cols = [col.replace("net_generation_(megawatthours)", "net_generation_megawatthours") for col in cols]
    
    
    cols = [col.replace("__", "_") for col in cols]
    cols = [col.replace("__", "_") for col in cols]
    return cols

In [56]:
df = None
dir_ = "xlsx/csv/"
for file in os.listdir(dir_):
    df_temp = pd.read_csv(dir_ + file)
    if type(df) == pd.DataFrame:
        df_temp.columns = format_column_name(df_temp.columns)
        for i,col in enumerate(df_temp.columns):
            if col not in df.columns:
                print(file, col)
    else:
        df = df_temp
        df.columns = format_column_name(df.columns)

2009.csv unnamed:_97

In [57]:
all_fields = df.columns

In [58]:
# Append all of the dataframes into a single DF
df = None
dir_ = "xlsx/csv/"
for file in os.listdir(dir_):
    if ".csv" in file:
        df_temp = pd.read_csv(dir_ + file)
        df_temp.columns = format_column_name(df_temp.columns)
        for col in all_fields:
            if col not in df_temp.columns:
                df_temp[col] = None

        if type(df) == pd.DataFrame:
            df = df.append(df_temp[all_fields], ignore_index=True, verify_integrity=True)
            
            # print out how many lines in each, just to keep a track of things
            print(file, len(df_temp))
        else:
            df = df_temp[all_fields]
            print(file, len(df_temp))

2008.csv 10090
2009.csv 9927
2019.csv 6223
2018.csv 13423
2015.csv 12452
2014.csv 12173
2016.csv 12865
2017.csv 6020
2013.csv 11466
2012.csv 11004
2010.csv 10108
2011.csv 10461

In [40]:
len(df)

126212

In [41]:
df.head()

,plant_id,combined_heat_and_power_plant,nuclear_unit_id,plant_name,operator_name,operator_id,state,census_region,nerc_region,reserved_,naics_code,eia_sector_number,sector_name,reported_prime_mover,reported_fuel_type_code,aer_fuel_type_code,reserved_1,reserved_2,physical_unit_label,quantity_jan,quantity_feb,quantity_mar,quantity_apr,quantity_may,quantity_jun,quantity_jul,quantity_aug,quantity_sep,quantity_oct,quantity_nov,quantity_dec,elec_quantity_jan,elec_quantity_feb,elec_quantity_mar,elec_quantity_apr,elec_quantity_may,elec_quantity_jun,elec_quantity_jul,elec_quantity_aug,elec_quantity_sep,elec_quantity_oct,elec_quantity_nov,elec_quantity_dec,mmbtu_per_unit_jan,mmbtu_per_unit_feb,mmbtu_per_unit_mar,mmbtu_per_unit_apr,mmbtu_per_unit_may,mmbtu_per_unit_jun,mmbtu_per_unit_jul,mmbtu_per_unit_aug,mmbtu_per_unit_sep,mmbtu_per_unit_oct,mmbtu_per_unit_nov,mmbtu_per_unit_dec,tot_mmbtu_jan,tot_mmbtu_feb,tot_mmbtu_mar,tot_mmbtu_apr,tot_mmbtu_may,tot_mmbtu_jun,tot_mmbtu_jul,tot_mmbtu_aug,tot_mmbtu_sep,tot_mmbtu_oct,tot_mmbtu_nov,tot_mmbtu_dec,elec_mmbtu_jan,elec_mmbtu_feb,elec_mmbtu_mar,elec_mmbtu_apr,elec_mmbtu_may,elec_mmbtu_jun,elec_mmbtu_jul,elec_mmbtu_aug,elec_mmbtu_sep,elec_mmbtu_oct,elec_mmbtu_nov,elec_mmbtu_dec,netgen_jan,netgen_feb,netgen_mar,netgen_apr,netgen_may,netgen_jun,netgen_jul,netgen_aug,netgen_sep,netgen_oct,netgen_nov,netgen_dec,total_fuel_consumption_quantity,electric_fuel_consumption_quantity,total_fuel_consumption_mmbtu,elec_fuel_consumption_mmbtu,net_generation_(megawatthours),year
0,2,N,NaN,Bankhead Dam,Alabama Power Co,195.0,AL,ESC,SERC,NaN,22,1,Electric Utility,HY,WAT,HYC,NaN,NaN,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,"82,541","106,553","125,539","73,610","59,098","41,000","39,271","67,787","37,295","36,721","33,990","165,295","82,541","106,553","125,539","73,610","59,098","41,000","39,271","67,787","37,295","36,721","33,990","165,295","8,376","10,813","12,740","7,470","5,997","4,161","3,985","6,879","3,785","3,727","3,449","16,774",0,0,"868,700","868,700","88,157",2008
1,3,N,NaN,Barry,Alabama Power Co,195.0,AL,ESC,SERC,NaN,22,1,Electric Utility,CA,NG,NG,NaN,NaN,mcf,"2,400",0,0,0,0,0,"1,033",0,0,0,0,0,"2,400",0,0,0,0,0,"1,033",0,0,0,0,0,1.04,0,0,0,0,0,1.04,0,0,0,0,0.00,"2,489",0,0,0,0,0,"1,070",0,0,0,0,0,"2,489",0,0,0,0,0,"1,070",0,0,0,0,0,"146,327","162,161","124,542","125,578","58,463","125,234","147,959","157,312","90,076","195,200","182,067","94,114","3,433","3,433","3,559","3,559","1,609,033",2008
2,3,N,NaN,Barry,Alabama Power Co,195.0,AL,ESC,SERC,NaN,22,1,Electric Utility,CT,NG,NG,NaN,NaN,mcf,"2,781,102","3,014,430","2,392,307","2,344,699","1,176,306","2,373,538","2,903,883","3,059,953","1,831,182","3,724,487","3,510,200","1,819,990","2,781,102","3,014,430","2,392,307","2,344,699","1,176,306","2,373,538","2,903,883","3,059,953","1,831,182","3,724,487","3,510,200","1,819,990",1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.03,1.04,1.03,1.04,1.04,"2,884,003","3,141,036","2,490,392","2,438,487","1,226,887","2,468,480","3,008,423","3,163,991","1,900,767","3,847,395","3,636,567","1,883,690","2,884,003","3,141,036","2,490,392","2,438,487","1,226,887","2,468,480","3,008,423","3,163,991","1,900,767","3,847,395","3,636,567","1,883,690","244,784","273,918","223,876","207,877","101,219","207,146","265,206","289,409","167,907","364,111","336,552","176,190","30,932,077","30,932,077","32,090,118","32,090,118","2,858,195",2008
3,3,N,NaN,Barry,Alabama Power Co,195.0,AL,ESC,SERC,NaN,22,1,Electric Utility,ST,BIT,COL,NaN,NaN,short tons,"340,778","167,669","205,825","245,074","417,942","409,979","484,976","456,775","428,145","288,256","351,085","411,747","340,778","167,669","205,825","245,074","417,942","409,979","484,976","456,775","428,145","288,256","351,085","411,747",22.59,22.51,22.72,22.51,22.62,22.53,22.35,22.01,22.55,22.38,22.65,22.48,"7,697,153","3,773,391","4,676,550","5,517,351","9,452,176","9,236,007","10,839,214","10,054,988","9,656,382","6,450,016","7,953,129","9,255,249","7,697,153","3,773,391","4,676,550","5,517,351","9,452,176","9,236,007","10,839,214","10,054,988","9,656,382","6,450,016","7,953,129","9,255,249","778,699","382,523","472,450","560,003","946,464","899,565","1,071,393","987,781","974,412","656,805","806,397","936,366","4,208,251","4,208,251","94,561,606","94,561,606","9,472,859",2008
4,3,N,NaN,Barry,Alabama Power Co,195.0,AL,ESC,SERC,NaN,22,1,Electric Utility,ST,DFO,DFO,NaN,NaN,barrels,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0.00,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,2008

In [62]:
df_costs = pd.read_csv("refined.csv")
df_costs = df_costs.drop(columns="Column")

/Users/lhinkesjones/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (6,11,12,18,19,20,21,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [59]:
import sqlite3

In [60]:
conn = sqlite3.connect("eia")

In [61]:
cursor = conn.cursor()

In [63]:
df_costs.to_sql("fuel_costs", conn)

In [64]:
df.to_sql("generation", conn)

In [65]:
df = None
df_costs=None

In [66]:
df_com = pd.DataFrame(cursor.execute("""
SELECT fc.* ,
g.plant_id as plant_id_gen, g.combined_heat_and_power_plant, g.nuclear_unit_id, g.plant_name as plant_name_gen, g.operator_name as operator_name_gen, g.operator_id as operator_id_gen, g.state as state_gen, g.census_region, g.nerc_region, g.reserved_, g.naics_code, g.eia_sector_number, g.sector_name, g.reported_prime_mover, g.reported_fuel_type_code, g.aer_fuel_type_code, g.reserved_1, g.reserved_2, g.physical_unit_label, g.quantity_jan, g.quantity_feb, g.quantity_mar, g.quantity_apr, g.quantity_may, g.quantity_jun, g.quantity_jul, g.quantity_aug, g.quantity_sep, g.quantity_oct, g.quantity_nov, g.quantity_dec, g.elec_quantity_jan, g.elec_quantity_feb, g.elec_quantity_mar, g.elec_quantity_apr, g.elec_quantity_may, g.elec_quantity_jun, g.elec_quantity_jul, g.elec_quantity_aug, g.elec_quantity_sep, g.elec_quantity_oct, g.elec_quantity_nov, g.elec_quantity_dec, g.mmbtu_per_unit_jan, g.mmbtu_per_unit_feb, g.mmbtu_per_unit_mar, g.mmbtu_per_unit_apr, g.mmbtu_per_unit_may, g.mmbtu_per_unit_jun, g.mmbtu_per_unit_jul, g.mmbtu_per_unit_aug, g.mmbtu_per_unit_sep, g.mmbtu_per_unit_oct, g.mmbtu_per_unit_nov, g.mmbtu_per_unit_dec, g.tot_mmbtu_jan, g.tot_mmbtu_feb, g.tot_mmbtu_mar, g.tot_mmbtu_apr, g.tot_mmbtu_may, g.tot_mmbtu_jun, g.tot_mmbtu_jul, g.tot_mmbtu_aug, g.tot_mmbtu_sep, g.tot_mmbtu_oct, g.tot_mmbtu_nov, g.tot_mmbtu_dec, g.elec_mmbtu_jan, g.elec_mmbtu_feb, g.elec_mmbtu_mar, g.elec_mmbtu_apr, g.elec_mmbtu_may, g.elec_mmbtu_jun, g.elec_mmbtu_jul, g.elec_mmbtu_aug, g.elec_mmbtu_sep, g.elec_mmbtu_oct, g.elec_mmbtu_nov, g.elec_mmbtu_dec, g.netgen_jan, g.netgen_feb, g.netgen_mar, g.netgen_apr, g.netgen_may, g.netgen_jun, g.netgen_jul, g.netgen_aug, g.netgen_sep, g.netgen_oct, g.netgen_nov, g.netgen_dec, g.total_fuel_consumption_quantity, g.electric_fuel_consumption_quantity, g.total_fuel_consumption_mmbtu, g.elec_fuel_consumption_mmbtu, g.net_generation_megawatthours, g.year as year_gen

FROM fuel_costs fc
LEFT JOIN generation g
ON fc.plant_id = g.plant_id
WHERE fc.year = g.year
and g.reported_fuel_type_code = fc.energy_source
""").fetchall())
df_com.columns = [description[0] for description in cursor.description]
df_com.head()

,index,average_ash_content,average_heat_content,average_mercury_content,average_sulfur_content,chlorine_content,coalmine_county,coalmine_msha_id,coalmine_name,coalmine_state,coalmine_type,contract_expiration_date,contract_type,energy_source,fuel_cost,fuel_group,moisture_content,month,natural_gas_delivery_contract_type,natural_gas_supply_contract_type,natural_gas_transportation_service,operator_id,operator_name,plant_id,plant_name,plant_state,primary_transportation_mode,purchase_type,quantity,regulated,reporting_frequency,secondary_transportation_mode,supplier,year,plant_id_gen,combined_heat_and_power_plant,nuclear_unit_id,plant_name_gen,operator_name_gen,operator_id_gen,state_gen,census_region,nerc_region,reserved_,naics_code,eia_sector_number,sector_name,reported_prime_mover,reported_fuel_type_code,aer_fuel_type_code,reserved_1,reserved_2,physical_unit_label,quantity_jan,quantity_feb,quantity_mar,quantity_apr,quantity_may,quantity_jun,quantity_jul,quantity_aug,quantity_sep,quantity_oct,quantity_nov,quantity_dec,elec_quantity_jan,elec_quantity_feb,elec_quantity_mar,elec_quantity_apr,elec_quantity_may,elec_quantity_jun,elec_quantity_jul,elec_quantity_aug,elec_quantity_sep,elec_quantity_oct,elec_quantity_nov,elec_quantity_dec,mmbtu_per_unit_jan,mmbtu_per_unit_feb,mmbtu_per_unit_mar,mmbtu_per_unit_apr,mmbtu_per_unit_may,mmbtu_per_unit_jun,mmbtu_per_unit_jul,mmbtu_per_unit_aug,mmbtu_per_unit_sep,mmbtu_per_unit_oct,mmbtu_per_unit_nov,mmbtu_per_unit_dec,tot_mmbtu_jan,tot_mmbtu_feb,tot_mmbtu_mar,tot_mmbtu_apr,tot_mmbtu_may,tot_mmbtu_jun,tot_mmbtu_jul,tot_mmbtu_aug,tot_mmbtu_sep,tot_mmbtu_oct,tot_mmbtu_nov,tot_mmbtu_dec,elec_mmbtu_jan,elec_mmbtu_feb,elec_mmbtu_mar,elec_mmbtu_apr,elec_mmbtu_may,elec_mmbtu_jun,elec_mmbtu_jul,elec_mmbtu_aug,elec_mmbtu_sep,elec_mmbtu_oct,elec_mmbtu_nov,elec_mmbtu_dec,netgen_jan,netgen_feb,netgen_mar,netgen_apr,netgen_may,netgen_jun,netgen_jul,netgen_aug,netgen_sep,netgen_oct,netgen_nov,netgen_dec,total_fuel_consumption_quantity,electric_fuel_consumption_quantity,total_fuel_consumption_mmbtu,elec_fuel_consumption_mmbtu,net_generation_megawatthours,year_gen
0,0,5.4,23.100,NaN,0.49,NaN,IMP,NaN,MINA PRIBBENOW,CL,SU,408.0,C,BIT,213.5,Coal,NaN,1,None,None,F,195.0,Alabama Power Co,3,Barry,AL,RV,None,259412,REG,M,None,INTEROCEAN COAL,2008,3,N,None,Barry,Alabama Power Co,195.0,AL,ESC,SERC,None,22,1,Electric Utility,ST,BIT,COL,None,None,short tons,"340,778","167,669","205,825","245,074","417,942","409,979","484,976","456,775","428,145","288,256","351,085","411,747","340,778","167,669","205,825","245,074","417,942","409,979","484,976","456,775","428,145","288,256","351,085","411,747",22.59,22.51,22.72,22.51,22.62,22.53,22.35,22.01,22.55,22.38,22.65,22.48,"7,697,153","3,773,391","4,676,550","5,517,351","9,452,176","9,236,007","10,839,214","10,054,988","9,656,382","6,450,016","7,953,129","9,255,249","7,697,153","3,773,391","4,676,550","5,517,351","9,452,176","9,236,007","10,839,214","10,054,988","9,656,382","6,450,016","7,953,129","9,255,249","778,699","382,523","472,450","560,003","946,464","899,565","1,071,393","987,781","974,412","656,805","806,397","936,366","4,208,251","4,208,251","94,561,606","94,561,606","9,472,859",2008
1,1,5.7,22.800,NaN,0.48,NaN,IMP,NaN,MINA PRIBBENOW,CL,SU,408.0,C,BIT,211.5,Coal,NaN,1,None,None,F,195.0,Alabama Power Co,3,Barry,AL,RV,None,52241,REG,M,None,INTEROCEAN COAL,2008,3,N,None,Barry,Alabama Power Co,195.0,AL,ESC,SERC,None,22,1,Electric Utility,ST,BIT,COL,None,None,short tons,"340,778","167,669","205,825","245,074","417,942","409,979","484,976","456,775","428,145","288,256","351,085","411,747","340,778","167,669","205,825","245,074","417,942","409,979","484,976","456,775","428,145","288,256","351,085","411,747",22.59,22.51,22.72,22.51,22.62,22.53,22.35,22.01,22.55,22.38,22.65,22.48,"7,697,153","3,773,391","4,676,550","5,517,351","9,452,176","9,236,007","10,839,214","10,054,988","9,656,382","6,450,016","7,953,129","9,255,249","7,697,153","3,773,391","4,676,550","5,517,351","9,452,176","9,236,007","10,839,214","10,054,988","9,656,382","6,450,016","7,953,129","9,255,249","778,699","382,523","472,450","560,003","946,464","899,565","1,071,393","987,781","974,412","656,805","806,397","936,366","4,208,251","4,208,251","94,561,606","94,561,606","9,472,859",2008
2,2,0.0,1.039,NaN,0.00,NaN,None,NaN,None,None,None,None,C,NG,863.1,Natural Gas,NaN,1,None,None,F,195.0,Alabama Power Co,3,Barry,AL,PL,None,2783619,REG,M,None,BAY GAS PIPELINE,2008,3,N,None,Barry,Alabama Power Co,195.0,AL,ESC,SERC,None,22,1,Electric Utility,CA,NG,NG,None,None,mcf,"2,400",0,0,0,0,0,"1,033",0,0,0,0,0,"2,400",0,0,0,0,0,"1,033",0,0,0,0,0,1.04,0.0,0.0,0.0,0.0,0.0,1.04,0.0,0.0,0.0,0.0,0.00,"2,489",0,0,0,0,0,"1,070",0,0,0,0,0,"2,489",0,0,0,0,0,"1,070",0,0,0,0,0,"146,327","162,161","124,542","125,578","58,463","125,234","147,959","157,312","90,076","195,200","182,067","94,114","3,433","3,433","3,559","3,559","1,609,033",2008
3,2,0.0,1.039,NaN,0.00,NaN,None,NaN,None,None,None,None,C,NG,863.1,Natural Gas,NaN,1,None,None,F,195.0,Alabama Power Co,3,Barry,AL,PL,None,2783619,REG,M,None,BAY GAS PIPELINE,2008,3,N,None,Barry,Alabama Power Co,195.0,AL,ESC,SERC,None,22,1,Electric Utility,CT,NG,NG,None,None,mcf,"2,781,102","3,014,430","2,392,307","2,344,699","1,176,306","2,373,538","2,903,883","3,059,953","1,831,182","3,724,487","3,510,200","1,819,990","2,781,102","3,014,430","2,392,307","2,344,699","1,176,306","2,373,538","2,903,883","3,059,953","1,831,182","3,724,487","3,510,200","1,819,990",1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.03,1.04,1.03,1.04,1.04,"2,884,003","3,141,036","2,490,392","2,438,487","1,226,887","2,468,480","3,008,423","3,163,991","1,900,767","3,847,395","3,636,567","1,883,690","2,884,003","3,141,036","2,490,392","2,438,487","1,226,887","2,468,480","3,008,423","3,163,991","1,900,767","3,847,395","3,636,567","1,883,690","244,784","273,918","223,876","207,877","101,219","207,146","265,206","289,409","167,907","364,111","336,552","176,190","30,932,077","30,932,077","32,090,118","32,090,118","2,858,195",2008
4,2,0.0,1.039,NaN,0.00,NaN,None,NaN,None,None,None,None,C,NG,863.1,Natural Gas,NaN,1,None,None,F,195.0,Alabama Power Co,3,Barry,AL,PL,None,2783619,REG,M,None,BAY GAS PIPELINE,2008,3,N,None,Barry,Alabama Power Co,195.0,AL,ESC,SERC,None,22,1,Electric Utility,ST,NG,NG,None,None,mcf,"109,281","90,779","21,550","41,611","41,697","101,782","29,431","136,935","109,141","63,425","25,424","66,596","109,281","90,779","21,550","41,611","41,697","101,782","29,431","136,935","109,141","63,425","25,424","66,596",1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.03,1.04,1.06,"113,543","94,501","22,434","43,192","43,490","105,650","30,579","142,002","113,179","65,518","26,390","70,792","113,543","94,501","22,434","43,192","43,490","105,650","30,579","142,002","113,179","65,518","26,390","70,792","11,487","9,580","2,266","4,384","4,355","10,290","3,023","13,950","11,421","6,672","2,676","7,162","837,652","837,652","871,270","871,270","87,265",2008

In [67]:
df_com["quantity_gen"] = None
df_com["elec_quantity_gen"]   = None
df_com["mmbtu_per_unit_gen"] = None
df_com["tot_mmbtu_gen"] = None
df_com["elec_mmbtu_gen"] = None
df_com["netgen_gen"] = None

#df_com = df_com.drop(columns=["index"])

In [68]:
df_com.to_sql("combined", conn)

In [70]:
cursor.execute("""
update combined set quantity_gen = quantity_jan
where month=1
""")

In [71]:
mths = {
1:"jan",    
2:"feb",
3:"mar",
4:"apr",
5:"may",
6:"jun",
7:"jul",
8:"aug",
9:"sep",
10:"oct",
11:"nov",
12:"dec",
}

In [72]:
for k,v in mths.items():
    cursor.execute("update combined set quantity_gen = quantity_%s where month=%s" % (v,k))
    cursor.execute("update combined set mmbtu_per_unit_gen = mmbtu_per_unit_%s where month=%s" % (v,k))
    cursor.execute("update combined set elec_quantity_gen = elec_quantity_%s where month=%s" % (v,k))
    cursor.execute("update combined set tot_mmbtu_gen = tot_mmbtu_%s where month=%s" % (v,k))
    cursor.execute("update combined set elec_mmbtu_gen =  elec_mmbtu_%s where month=%s" % (v,k))
    cursor.execute("update combined set netgen_gen = netgen_%s where month=%s" % (v,k))

In [73]:
df = pd.DataFrame(cursor.execute("""SELECT * from combined""").fetchall())
df.columns = [description[0] for description in cursor.description]
df.head()

,level_0,index,average_ash_content,average_heat_content,average_mercury_content,average_sulfur_content,chlorine_content,coalmine_county,coalmine_msha_id,coalmine_name,coalmine_state,coalmine_type,contract_expiration_date,contract_type,energy_source,fuel_cost,fuel_group,moisture_content,month,natural_gas_delivery_contract_type,natural_gas_supply_contract_type,natural_gas_transportation_service,operator_id,operator_name,plant_id,plant_name,plant_state,primary_transportation_mode,purchase_type,quantity,regulated,reporting_frequency,secondary_transportation_mode,supplier,year,plant_id_gen,combined_heat_and_power_plant,nuclear_unit_id,plant_name_gen,operator_name_gen,operator_id_gen,state_gen,census_region,nerc_region,reserved_,naics_code,eia_sector_number,sector_name,reported_prime_mover,reported_fuel_type_code,aer_fuel_type_code,reserved_1,reserved_2,physical_unit_label,quantity_jan,quantity_feb,quantity_mar,quantity_apr,quantity_may,quantity_jun,quantity_jul,quantity_aug,quantity_sep,quantity_oct,quantity_nov,quantity_dec,elec_quantity_jan,elec_quantity_feb,elec_quantity_mar,elec_quantity_apr,elec_quantity_may,elec_quantity_jun,elec_quantity_jul,elec_quantity_aug,elec_quantity_sep,elec_quantity_oct,elec_quantity_nov,elec_quantity_dec,mmbtu_per_unit_jan,mmbtu_per_unit_feb,mmbtu_per_unit_mar,mmbtu_per_unit_apr,mmbtu_per_unit_may,mmbtu_per_unit_jun,mmbtu_per_unit_jul,mmbtu_per_unit_aug,mmbtu_per_unit_sep,mmbtu_per_unit_oct,mmbtu_per_unit_nov,mmbtu_per_unit_dec,tot_mmbtu_jan,tot_mmbtu_feb,tot_mmbtu_mar,tot_mmbtu_apr,tot_mmbtu_may,tot_mmbtu_jun,tot_mmbtu_jul,tot_mmbtu_aug,tot_mmbtu_sep,tot_mmbtu_oct,tot_mmbtu_nov,tot_mmbtu_dec,elec_mmbtu_jan,elec_mmbtu_feb,elec_mmbtu_mar,elec_mmbtu_apr,elec_mmbtu_may,elec_mmbtu_jun,elec_mmbtu_jul,elec_mmbtu_aug,elec_mmbtu_sep,elec_mmbtu_oct,elec_mmbtu_nov,elec_mmbtu_dec,netgen_jan,netgen_feb,netgen_mar,netgen_apr,netgen_may,netgen_jun,netgen_jul,netgen_aug,netgen_sep,netgen_oct,netgen_nov,netgen_dec,total_fuel_consumption_quantity,electric_fuel_consumption_quantity,total_fuel_consumption_mmbtu,elec_fuel_consumption_mmbtu,net_generation_megawatthours,year_gen,quantity_gen,elec_quantity_gen,mmbtu_per_unit_gen,tot_mmbtu_gen,elec_mmbtu_gen,netgen_gen
0,0,0,5.4,23.100,NaN,0.49,NaN,IMP,NaN,MINA PRIBBENOW,CL,SU,408.0,C,BIT,213.5,Coal,NaN,1,None,None,F,195.0,Alabama Power Co,3,Barry,AL,RV,None,259412,REG,M,None,INTEROCEAN COAL,2008,3,N,None,Barry,Alabama Power Co,195.0,AL,ESC,SERC,None,22,1,Electric Utility,ST,BIT,COL,None,None,short tons,"340,778","167,669","205,825","245,074","417,942","409,979","484,976","456,775","428,145","288,256","351,085","411,747","340,778","167,669","205,825","245,074","417,942","409,979","484,976","456,775","428,145","288,256","351,085","411,747",22.59,22.51,22.72,22.51,22.62,22.53,22.35,22.01,22.55,22.38,22.65,22.48,"7,697,153","3,773,391","4,676,550","5,517,351","9,452,176","9,236,007","10,839,214","10,054,988","9,656,382","6,450,016","7,953,129","9,255,249","7,697,153","3,773,391","4,676,550","5,517,351","9,452,176","9,236,007","10,839,214","10,054,988","9,656,382","6,450,016","7,953,129","9,255,249","778,699","382,523","472,450","560,003","946,464","899,565","1,071,393","987,781","974,412","656,805","806,397","936,366","4,208,251","4,208,251","94,561,606","94,561,606","9,472,859",2008,"340,778","340,778",22.59,"7,697,153","7,697,153","778,699"
1,1,1,5.7,22.800,NaN,0.48,NaN,IMP,NaN,MINA PRIBBENOW,CL,SU,408.0,C,BIT,211.5,Coal,NaN,1,None,None,F,195.0,Alabama Power Co,3,Barry,AL,RV,None,52241,REG,M,None,INTEROCEAN COAL,2008,3,N,None,Barry,Alabama Power Co,195.0,AL,ESC,SERC,None,22,1,Electric Utility,ST,BIT,COL,None,None,short tons,"340,778","167,669","205,825","245,074","417,942","409,979","484,976","456,775","428,145","288,256","351,085","411,747","340,778","167,669","205,825","245,074","417,942","409,979","484,976","456,775","428,145","288,256","351,085","411,747",22.59,22.51,22.72,22.51,22.62,22.53,22.35,22.01,22.55,22.38,22.65,22.48,"7,697,153","3,773,391","4,676,550","5,517,351","9,452,176","9,236,007","10,839,214","10,054,988","9,656,382","6,450,016","7,953,129","9,255,249","7,697,153","3,773,391","4,676,550","5,517,351","9,452,176","9,236,007","10,839,214","10,054,988","9,656,382","6,450,016","7,953,129","9,255,249","778,699","382,523","472,450","560,003","946,464","899,565","1,071,393","987,781","974,412","656,805","806,397","936,366","4,208,251","4,208,251","94,561,606","94,561,606","9,472,859",2008,"340,778","340,778",22.59,"7,697,153","7,697,153","778,699"
2,2,2,0.0,1.039,NaN,0.00,NaN,None,NaN,None,None,None,None,C,NG,863.1,Natural Gas,NaN,1,None,None,F,195.0,Alabama Power Co,3,Barry,AL,PL,None,2783619,REG,M,None,BAY GAS PIPELINE,2008,3,N,None,Barry,Alabama Power Co,195.0,AL,ESC,SERC,None,22,1,Electric Utility,CA,NG,NG,None,None,mcf,"2,400",0,0,0,0,0,"1,033",0,0,0,0,0,"2,400",0,0,0,0,0,"1,033",0,0,0,0,0,1.04,0.0,0.0,0.0,0.0,0.0,1.04,0.0,0.0,0.0,0.0,0.00,"2,489",0,0,0,0,0,"1,070",0,0,0,0,0,"2,489",0,0,0,0,0,"1,070",0,0,0,0,0,"146,327","162,161","124,542","125,578","58,463","125,234","147,959","157,312","90,076","195,200","182,067","94,114","3,433","3,433","3,559","3,559","1,609,033",2008,"2,400","2,400",1.04,"2,489","2,489","146,327"
3,3,2,0.0,1.039,NaN,0.00,NaN,None,NaN,None,None,None,None,C,NG,863.1,Natural Gas,NaN,1,None,None,F,195.0,Alabama Power Co,3,Barry,AL,PL,None,2783619,REG,M,None,BAY GAS PIPELINE,2008,3,N,None,Barry,Alabama Power Co,195.0,AL,ESC,SERC,None,22,1,Electric Utility,CT,NG,NG,None,None,mcf,"2,781,102","3,014,430","2,392,307","2,344,699","1,176,306","2,373,538","2,903,883","3,059,953","1,831,182","3,724,487","3,510,200","1,819,990","2,781,102","3,014,430","2,392,307","2,344,699","1,176,306","2,373,538","2,903,883","3,059,953","1,831,182","3,724,487","3,510,200","1,819,990",1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.03,1.04,1.03,1.04,1.04,"2,884,003","3,141,036","2,490,392","2,438,487","1,226,887","2,468,480","3,008,423","3,163,991","1,900,767","3,847,395","3,636,567","1,883,690","2,884,003","3,141,036","2,490,392","2,438,487","1,226,887","2,468,480","3,008,423","3,163,991","1,900,767","3,847,395","3,636,567","1,883,690","244,784","273,918","223,876","207,877","101,219","207,146","265,206","289,409","167,907","364,111","336,552","176,190","30,932,077","30,932,077","32,090,118","32,090,118","2,858,195",2008,"2,781,102","2,781,102",1.04,"2,884,003","2,884,003","244,784"
4,4,2,0.0,1.039,NaN,0.00,NaN,None,NaN,None,None,None,None,C,NG,863.1,Natural Gas,NaN,1,None,None,F,195.0,Alabama Power Co,3,Barry,AL,PL,None,2783619,REG,M,None,BAY GAS PIPELINE,2008,3,N,None,Barry,Alabama Power Co,195.0,AL,ESC,SERC,None,22,1,Electric Utility,ST,NG,NG,None,None,mcf,"109,281","90,779","21,550","41,611","41,697","101,782","29,431","136,935","109,141","63,425","25,424","66,596","109,281","90,779","21,550","41,611","41,697","101,782","29,431","136,935","109,141","63,425","25,424","66,596",1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.04,1.03,1.04,1.06,"113,543","94,501","22,434","43,192","43,490","105,650","30,579","142,002","113,179","65,518","26,390","70,792","113,543","94,501","22,434","43,192","43,490","105,650","30,579","142,002","113,179","65,518","26,390","70,792","11,487","9,580","2,266","4,384","4,355","10,290","3,023","13,950","11,421","6,672","2,676","7,162","837,652","837,652","871,270","871,270","87,265",2008,"109,281","109,281",1.04,"113,543","113,543","11,487"

In [77]:
to_drop = []
for fld in ["quantity_", "elec_quantity_", "mmbtu_per_unit_", "tot_mmbtu_", "elec_mmbtu_", "netgen_"]:
    for mth in mths.values():
        to_drop.append("%s%s" % (fld, mth))

In [79]:
to_drop.append("level_0")
to_drop.append("index")

In [80]:
df = df.drop(columns=to_drop)
df.head()

,average_ash_content,average_heat_content,average_mercury_content,average_sulfur_content,chlorine_content,coalmine_county,coalmine_msha_id,coalmine_name,coalmine_state,coalmine_type,contract_expiration_date,contract_type,energy_source,fuel_cost,fuel_group,moisture_content,month,natural_gas_delivery_contract_type,natural_gas_supply_contract_type,natural_gas_transportation_service,operator_id,operator_name,plant_id,plant_name,plant_state,primary_transportation_mode,purchase_type,quantity,regulated,reporting_frequency,secondary_transportation_mode,supplier,year,plant_id_gen,combined_heat_and_power_plant,nuclear_unit_id,plant_name_gen,operator_name_gen,operator_id_gen,state_gen,census_region,nerc_region,reserved_,naics_code,eia_sector_number,sector_name,reported_prime_mover,reported_fuel_type_code,aer_fuel_type_code,reserved_1,reserved_2,physical_unit_label,total_fuel_consumption_quantity,electric_fuel_consumption_quantity,total_fuel_consumption_mmbtu,elec_fuel_consumption_mmbtu,net_generation_megawatthours,year_gen,quantity_gen,elec_quantity_gen,mmbtu_per_unit_gen,tot_mmbtu_gen,elec_mmbtu_gen,netgen_gen
0,5.4,23.100,NaN,0.49,NaN,IMP,NaN,MINA PRIBBENOW,CL,SU,408.0,C,BIT,213.5,Coal,NaN,1,None,None,F,195.0,Alabama Power Co,3,Barry,AL,RV,None,259412,REG,M,None,INTEROCEAN COAL,2008,3,N,None,Barry,Alabama Power Co,195.0,AL,ESC,SERC,None,22,1,Electric Utility,ST,BIT,COL,None,None,short tons,"4,208,251","4,208,251","94,561,606","94,561,606","9,472,859",2008,"340,778","340,778",22.59,"7,697,153","7,697,153","778,699"
1,5.7,22.800,NaN,0.48,NaN,IMP,NaN,MINA PRIBBENOW,CL,SU,408.0,C,BIT,211.5,Coal,NaN,1,None,None,F,195.0,Alabama Power Co,3,Barry,AL,RV,None,52241,REG,M,None,INTEROCEAN COAL,2008,3,N,None,Barry,Alabama Power Co,195.0,AL,ESC,SERC,None,22,1,Electric Utility,ST,BIT,COL,None,None,short tons,"4,208,251","4,208,251","94,561,606","94,561,606","9,472,859",2008,"340,778","340,778",22.59,"7,697,153","7,697,153","778,699"
2,0.0,1.039,NaN,0.00,NaN,None,NaN,None,None,None,None,C,NG,863.1,Natural Gas,NaN,1,None,None,F,195.0,Alabama Power Co,3,Barry,AL,PL,None,2783619,REG,M,None,BAY GAS PIPELINE,2008,3,N,None,Barry,Alabama Power Co,195.0,AL,ESC,SERC,None,22,1,Electric Utility,CA,NG,NG,None,None,mcf,"3,433","3,433","3,559","3,559","1,609,033",2008,"2,400","2,400",1.04,"2,489","2,489","146,327"
3,0.0,1.039,NaN,0.00,NaN,None,NaN,None,None,None,None,C,NG,863.1,Natural Gas,NaN,1,None,None,F,195.0,Alabama Power Co,3,Barry,AL,PL,None,2783619,REG,M,None,BAY GAS PIPELINE,2008,3,N,None,Barry,Alabama Power Co,195.0,AL,ESC,SERC,None,22,1,Electric Utility,CT,NG,NG,None,None,mcf,"30,932,077","30,932,077","32,090,118","32,090,118","2,858,195",2008,"2,781,102","2,781,102",1.04,"2,884,003","2,884,003","244,784"
4,0.0,1.039,NaN,0.00,NaN,None,NaN,None,None,None,None,C,NG,863.1,Natural Gas,NaN,1,None,None,F,195.0,Alabama Power Co,3,Barry,AL,PL,None,2783619,REG,M,None,BAY GAS PIPELINE,2008,3,N,None,Barry,Alabama Power Co,195.0,AL,ESC,SERC,None,22,1,Electric Utility,ST,NG,NG,None,None,mcf,"837,652","837,652","871,270","871,270","87,265",2008,"109,281","109,281",1.04,"113,543","113,543","11,487"

In [82]:
df.to_sql("combined2", conn)